@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Inter;
  margin: 0;
  padding: 0;
}

html,body{
  background-color: #FEF3E2;
  margin: 0;
  padding: 0;
  user-select: none;
  overflow-x: hidden;
  cursor:default;
}

/* MISC */

#HomeGallery::-webkit-scrollbar{
  display: none;
}

.CardContainer:hover .ProfileImage img{
  scale: 1.1 !important;
}


.LineHorizontal{
  display: none;
}

.menuBtn{
  display: none;
  cursor: pointer;
}


td,th{
  border: solid 1px black;
  padding: 1rem;
}

table{
  border: solid black 1px;
  border-collapse: collapse;
}

h1, h2, h3{
  font-weight: bold;
}

h1{
  font-size: 4rem;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1rem;
}

nav{
  background-color: #FA812F;
  opacity: 0;
}

footer{
  background-color: #FA4032;
}

/* NAVBAR */
#NavLogo{
  perspective: 1000px;
}

#NavLogo img{
  transform-style: preserve-3d;
  animation: spin 10s infinite linear;
}

@keyframes spin{
  from{
    transform: rotateY(0deg);
  }
  to{
    transform: rotateY(360deg);
  }
}

@keyframes menuAnimate{
  from{
    opacity: 0;
    transform: translateY(-50px);
  } to{
    opacity: 1;
    transform: translateY(0);
  }
}

/* CONTENTS */
#ImageHomeCard{
  width: 20rem;
}

.Sambutan{
  width: 76%;
}
.Pengantar{
  width: 76%;
}

.PrimaryBtn{
  background-color: #FA812F;
}

.CardImage img{
  transition: all 0.5s ease-in-out;
}

.Card1:hover .CardImage img{
scale: 1.1;
}

#CardSambutanImage:hover img, #CardPengantarImage:hover img{
  scale: 1.1;
  filter: brightness(0.8);
}


#CardSambutanImage:hover .CardImageLabel, #CardPengantarImage:hover .CardImageLabel{
  opacity: 1;
  display: flex;
  left: 70%;
}

#CardSambutanImage:hover .CardImageLabel .IconBtn, #CardPengantarImage:hover .CardImageLabel .IconBtn{
  animation: scaleBtn 0.5s ease-in-out forwards 0.2s;
}

.IconBtn{
  scale: 0;
}

@keyframes scaleBtn {
  from{
    scale: 0;
  }
  to{
    scale: 1.0;
  }
  
}

#CardImage, 
#ContentRight, 
#TitleHome, 
#CardSambutanImage,
#ContentSambutan,
#ContentPengantar,
#CardPengantarImage
{
  opacity: 0;
}


/* BUTTONS */
.ScrollBtn{
  background-color: #FA4032;
}

/* BREAKPOINTS */
@media (max-width:2560px){
  #ContentSambutan{
    width: 83%;
  }

  #ContentPengantar{
    width: 83%;
  }

  .LineTop{
    width: 70%;
  }
  .LineBottom{
    width: 70%;
  }

  .menuHome{
    display: none;
  }
}

@media(max-width:1440px){
  #ContentSambutan{
    width: 70%;
    max-width: 100%;
  }

  #ContentPengantar{
    width: 70%;
    max-width:100%;
  }

  .SectionContents{
    padding: 6rem 3rem;
  }

  .LineTop{
    width: 100%;
  }
  .LineBottom{
    width: 100%;
  }
}

@media(max-width:1366px){
  #Navbar{
    padding: 2rem 2rem;
  }

  #CardImage{
    width: 40%;
  }
}

@media(max-width:1222px){

  #CarddImage{
    width: 60% !important;
  }
}

@media (max-width:1024px){
  .MahasiswaContentWrapper{
    flex-direction: column !important;
    align-items: center;
    gap: 4rem;
  }

  #CardImage{
    width: 50%;
  }

  .MahasiswaContentWrapper div{
    opacity: 1 !important;
  }

  #TitleHome{
    width: 60%;
  }

  .CardsWrapper{
    flex-direction: column;
    align-items: center;
  }

  .animate-slide-down{
    animation: inherit;
    opacity: 1;
  }

  .animate-slide-up{
    animation: inherit;
    opacity: 1;
  }

  #CardSambutanImage, #ContentSambutan, #ContentPengantar, #CardPengantarImage{
    opacity: 1;
  }

  #HomeCard1,
#HomeCard2,
#HomeCard3,
#HomeCard4,
#HomeCard5,
#HomeCard6,
#HomeCard7,
#HomeCard8,
#HomeCard9,
#HomeCard10,
#HomeCard11,
#HomeCard12
{
  opacity: 1;
}

Footer{
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}
}

@media (max-width:948px){
  footer ul{
    flex-direction: column !important;
    align-items: center;
    gap: 1rem !important;
  }

  footer{
    flex-direction: column !important;
    gap: 2rem;
    align-items: center;
    text-align: center;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }

  .LineHorizontal{
    display: block;
    width: 100%;
    min-width: 50%;
  }
}

@media (max-width:768px){
  .SambutanContents{
    flex-direction: column;
    align-items: center;
  }

  .SectionMahasiswa{
    padding-left:1rem;
    padding-right: 1rem;
  }

  .MahasiswaContentWrapper{
    align-items: center;
  }

  #CardImage{
    width: 50%;
  }

  #ContentSambutan{
    width: 100%;
  }

  .PengantarContents{
    flex-direction: column;
    align-items: center;
  }

  #ContentPengantar{
    width: 100%;
  }
}

@media (max-width:700px){
  nav ul{
    display: none !important;
  }

  .menuBtn{
    display: block;
  }

  .menuHome{
    display: none;
    transition: all 0.5s ease-in-out;
    animation: menuAnimate 0.3s ease-out;
  }
  
  .visible{
    display: flex;
  }

}

@media (max-width:680px){
  .ContentSpons{
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

}

@media(max-width:450px){
  #CardImage{
    width: 100%;
  }
}

@media (max-width:425px){
  #TitleHome h1{
    font-size: 3rem;
  }
  #CardImage{
    width: 100%;
  }

  #TitleHome{
    text-align: center;
    width: 80%;
  }

}

@media (max-width:320px){
  .SectionContents{
    padding-left: 1rem;
    padding-right: 1rem;
  }
}